/* STYLES GO HERE */
/* STYLES GO HERE */
body, html {
  margin: 0px;
  padding: 0px;
}

/* STYLES GO HERE */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #272727;
  background-color: #F8F8F8;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}
header ul.menu {
  margin: 0px;
  padding: 0px;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  display: flex;
  list-style-type: none;
}
header ul.menu li {
  padding: 0rem 1.5rem;
}
header ul.menu li a {
  text-decoration: none;
}
header ul.menu li a:visited {
  color: #272727;
  text-decoration: none;
}
header ul.menu li a:hover, header ul.menu li a:focus, header ul.menu li a:active {
  color: #F26958;
  text-decoration: underline;
}
header div.logo {
  padding-right: 1.5rem;
  padding-bottom: 0;
}
header div.logo img {
  height: 55px;
  padding-top: 1rem;
}

footer {
  position: absolute;
  top: 308%;
  width: 100%;
  z-index: 100;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #F8F8F8;
  display: flex;
  justify-content: center;
}

/* STYLES GO HERE */
/* STYLES GO HERE */
strong {
  color: #F26958;
}

main.about {
  margin-top: 4.5rem;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.about div.from-boat h1 {
  font-family: montserrat, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 110px;
  color: #F8F8F8;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main.about div.from-boat img {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
main.about div.to-fulton-content {
  display: flex;
  padding: 6rem 7rem 0rem 7rem;
  justify-content: center;
}
main.about div.to-fulton-content div.to-fulton-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 650px;
}
main.about div.to-fulton-content div.to-fulton-text h3 {
  margin: 0rem;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  color: #272727;
}
main.about div.to-fulton-content div.to-fulton-text p {
  margin: 0rem;
  margin-top: 2rem;
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: #272727;
  line-height: 55px;
  padding-left: 2rem;
}
main.about div.to-fulton-content div.to-fulton-image {
  display: flex;
  align-items: flex-end;
}
main.about div.to-fulton-content div.to-fulton-image img {
  object-fit: cover;
  width: 650px;
  align-items: end;
  margin-left: 3rem;
}
main.about div.to-fulton-dishes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main.about div.to-fulton-dishes img.fish-bucket {
  width: 250px;
  height: 350px;
  object-fit: contain;
}
main.about div.to-fulton-dishes img.lobster-dish {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
main.about div.to-fulton-dishes img.fish-dish {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
main.about div.to-home img {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0rem;
}
main.about div.to-home div.to-home-text {
  position: absolute;
  top: 265%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main.about div.to-home div.to-home-text h3 {
  font-family: montserrat, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 110px;
  color: #F8F8F8;
}
main.about div.to-home div.to-home-text p {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: #F8F8F8;
}

/*# sourceMappingURL=main.css.map */
