// main: ../main.scss
// File: _header.scss
// contains all the CSS that handles the header, such as the nav and any logos.
/* STYLES GO HERE */

body {
    font-family: $font;
    color: $black;
}
/* Mobile first styles go here */
header {
    z-index: 100;
    background-color: $white;
    position: fixed;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

    nav.navbar {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;

        span.navbar-toggle {
            position: absolute;
            top: 21px;
            right: 20px;
            color: $black;
            font-size: 24px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: $black;

            &:hover {
                color: $salmon;
            }

            &.logo {
                display: inline-block;
                margin: 20px;

                img {
                    position: absolute;
                    top: 17px;
                    left: 20px;
                    height: 50px;
                }
            }
        }

        ul.nav-list {
            list-style: none;
            display: none;
            background-color: $white;
            width: 100%;

            &.active {
                display: inline-block;
                margin: 25px auto;
                padding: 20px auto;
                border-top: 1px solid $black;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
            }

            li {
                text-align: center;
                margin: 25px auto;

                a.active-page {
                    color: $salmon;
                }

                button {
                    margin: 0;
                    padding: 12px 20px;
                    align-items: center;
                    border: none;
                    border-radius: 12px;
                    cursor: pointer;
                    text-align: center;
                    font-family: $font;
                    font-size: 16px;
                    font-weight: 600;
                    background-color: $brighter-salmon;
                    color: $white;
                    box-shadow: 0 1px 3px rgba(39, 39, 39, 0.16);
                    justify-content: center;
                    align-items: center;

                    &:focus,
                    &:hover {
                        transform: scale(1.01);
                    }

                    &:active {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $breakpoint) {
    /* Desktop styles go here */
    header {
        background-color: $white;
        position: fixed;
        width: 100%;
        height: 73px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

        nav.navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;

            span.navbar-toggle {
                display: none;
            }

            a {
                text-decoration: none;
                color: $black;

                &:hover {
                    color: $salmon;
                }

                &.logo {
                    display: inline-block;
                    margin: 20px;

                    img {
                        position: absolute;
                        top: 22px;
                        left: 20px;
                        height: 50px;
                    }
                }
            }

            ul.nav-list {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                margin: 15px 20px;

                &.active {}

                li {
                    text-align: center;
                    margin: 7px 15px 0;

                    a.active-page {
                        border-bottom: 3px solid $salmon;
                        padding: 16px 10px;
                        color: $salmon;
                    }
                }
            }
        }
    }
}
