// main: ../main.scss
// File: _layout.scss
// contains all the CSS that handles the layout, such as the container and any grid systems.

/* STYLES GO HERE */
.fixed-header-gap {
    display: inline-block;
    height: 70px;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }

  .fixed-header-gap {
      display: inline-block;
      height: 70px;
  }
}
