// File: _menu.scss
// styles.

/* STYLES GO HERE */
$white: #F8F8F8;
$black: #272727;
$salmon: #F26958;

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: $black;
  background-color: $white;

  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;


  ul.menu {
    margin: 0px;
    padding: 0px;
    padding-top: 0.5rem;
    padding-left: 1.5rem;

    display: flex;

    list-style-type: none;

    li {
      padding: 0rem 1.5rem;

      a {
        text-decoration: none;
      }

      a:visited {
        color: $black;
        text-decoration: none;
      }

      a:hover, a:focus, a:active {
        color: $salmon;
        text-decoration: underline;
      }

    }
  }

  div.logo {
    padding-right: 1.5rem;
    padding-bottom: 0;
    img {
      height: 55px;
      padding-top: 1rem;
    }

  }
}

footer {
  position: absolute;
  top: 308%;
  width: 100%;
  z-index: 100;

  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: $white;

  display: flex;
  justify-content: center;
}