// main: ../main.scss
// File: _about.scss
// styles.
/* STYLES GO HERE */
/* Mobile first styles go here */
strong {
    color: $salmon;
}

main.about {
    section.section1 {
        position: relative;
        height: 375px;
        margin-bottom: 230px;

        img {
            z-index: 0;
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        div.column {
            &.column-left {
                margin-top: 100px;

                h1 {
                    z-index: 10;
                    color: $white;
                    font-size: 32px;
                    font-weight: 900;
                    margin: 2.5px auto;
                    padding: 0;
                    background-color: rgba(39, 39, 39, 0.5);

                    &:first-child {
                        padding-left: 10px;
                        padding-right: 30px;
                    }

                    &:nth-child(2) {
                        padding-left: 30px;
                        padding-right: 10px;
                    }
                }
            }

            &.column-right {
                position: absolute;
                bottom: -150px;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: $brighter-salmon;
                border-radius: 12px;
                width: 310px;
                color: $white;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                align-items: center;

                h4 {
                    margin: 30px auto 15px;
                    padding: 0;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 600;
                }

                h6 {
                    margin: 5px;
                    padding: 0;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 400;
                }

                button {
                    margin: 25px;
                    padding: 15px 40px;
                    align-items: center;
                    border: none;
                    border-radius: 12px;
                    cursor: pointer;
                    text-align: center;
                    font-family: $font;
                    font-size: 20px;
                    font-weight: 600;
                    background-color: $white;
                    color: $brighter-salmon;
                    box-shadow: 0 3px 8px rgba(213, 102, 89, 0.75);

                    &:focus,
                    &:hover {
                        transform: scale(1.01);
                        background-color: #F0F0F0;
                    }

                    &:active {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    section.section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        div.row1 {
            width: 100%;
            float: left;

            h2 {
                text-align: left;
                margin: 30px 0;
                padding: 0;
                font-family: $font;
                font-size: 30px;
                font-weight: 900;
            }
        }

        article.row2 {
            margin-bottom: 80px;

            div.column {
                p {
                    margin: 20px auto;
                    padding: 0;
                    font-family: $font;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 37px;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    margin-top: 40px;
                }
            }
        }

        div.row3 {
            width: 100%;

            button {
                width: 100%;
                margin: 20px auto;
                padding: 20px;
                align-items: center;
                border: none;
                border-radius: 12px;
                cursor: pointer;
                font-family: $font;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                color: $white;
                background-color: $blue-green;
                box-shadow: 0 5px 15px rgba(39, 39, 39, 0.2);

                &:focus,
                &:hover {
                    transform: scale(1.01);
                    background-color: #5AA8A0;
                }

                &:active {
                    transform: scale(1);
                }
            }
        }
    }

    section.section3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 40px auto;

        div.testimonials {
            margin: 15px auto;

            p {
                margin: 20px 0;
                padding: 0;
                font-family: $font;
                font-size: 18px;
                font-weight: 500;
            }

            div.customers {
                display: flex;
                flex-direction: row;

                img {
                    width: 55px;
                    height: 55px;
                    border-radius: 100%;
                    box-shadow: 1px 2px 4px 1px rgba(39, 39, 39, 0.3);
                }

                div.customer-names {
                    display: flex;
                    flex-direction: column;

                    p {
                        margin: 3px 25px;
                        padding: 0;
                        font-family: $font;
                        font-weight: 500;

                        &:first-child {
                            margin-top: 8px;
                            color: $salmon;
                            font-size: 16px;
                        }

                        &:nth-child(2) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    section.section4 {
        position: relative;
        height: 375px;
        justify-content: center;

        img {
            position: absolute;
            z-index: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin-top: 40px;
            margin-bottom: 30px;
        }

        h1 {
            z-index: 1;
            text-align: center;
            font-family: $font;
            font-size: 36px;
            font-weight: 900;
            color: white;
            margin-top: 150px;
        }
    }

    footer {
        z-index: 100;
        color: $white;
    }
}
@media screen and (min-width: 400px) {
    /* Bigger mobile styles go here */
    main.about {
        section.section1 {
            div.column {
                &.column-left {
                    h1 {
                        font-size: 36px;
                    }
                }
            }
        }

        section.section2 {
            width: 75%;
        }

        section.section3 {
            width: 75%;
            margin: 60px auto;

            div.testimonials {
                p {
                    font-size: 20px;
                }

                div.customers {
                    div.customer-names {
                        p {
                            &:first-child {
                                margin-top: 10px;
                                color: $salmon;
                                font-size: 18px;
                            }

                            &:nth-child(2) {
                                font-size: 16px;
                            }
                        }
                    }

                    img {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }

        section.section4 {}
    }
}
@media screen and (min-width: $breakpoint) {
    /* Desktop styles go here */
    main.about {
        section.section1 {
            position: relative;
            height: 550px;
            margin-bottom: 175px;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            div.column {
                &.column-left {
                    margin-top: 130px;

                    h1 {
                        color: $white;
                        font-size: 60px;
                        font-weight: 800;
                        margin: 2.5px auto;
                        padding: 0;
                        background-color: rgba(39, 39, 39, 0.5);
                        text-shadow: 0 5px 15px rgba(39, 39, 39, 0.4);

                        &:first-child {
                            padding-left: 10px;
                            padding-right: 50px;
                        }

                        &:nth-child(2) {
                            padding-left: 50px;
                            padding-right: 10px;
                        }
                    }
                }

                &.column-right {
                    position: absolute;
                    bottom: -80px;
                    left: 70%;
                    transform: translate(-50%, 0);
                    background-color: $brighter-salmon;
                    border-radius: 12px;
                    width: 310px;
                    color: $white;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4 {
                        margin: 30px auto 15px;
                        padding: 0;
                        text-align: center;
                        font-size: 24px;
                        font-weight: 600;
                    }

                    h6 {
                        margin: 5px;
                        padding: 0;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 400;
                    }

                    button {
                        margin: 25px;
                        padding: 15px 40px;
                        align-items: center;
                        border: none;
                        border-radius: 12px;
                        cursor: pointer;
                        text-align: center;
                        font-family: $font;
                        font-size: 20px;
                        font-weight: 600;
                        background-color: $white;
                        color: $brighter-salmon;
                        box-shadow: 0 3px 8px rgba(213, 102, 89, 0.75);

                        &:focus,
                        &:hover {
                            transform: scale(1.01);
                            background-color: #F0F0F0;
                        }

                        &:active {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        section.section2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 85%;
            margin: 0 auto;

            div.row1 {
                width: 100%;
                float: left;

                h2 {
                    text-align: left;
                    margin: 40px 0 25px;
                    padding: 0;
                    font-family: $font;
                    font-size: 34px;
                    font-weight: 700;
                }
            }

            article.row2 {
                margin-bottom: 80px;

                div.column {
                    p {
                        margin: 20px 15px 20px auto;
                        padding: 0;
                        font-family: $font;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 37px;

                        &:nth-child(2) {
                            margin-bottom: 0;
                        }
                    }

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        margin-top: 28px;
                        margin-left: 15px;
                    }
                }
            }

            div.row3 {
                width: 75%;

                button {
                    width: 100%;
                    margin: 20px auto;
                    padding: 20px;
                    align-items: center;
                    border: none;
                    border-radius: 12px;
                    cursor: pointer;
                    font-family: $font;
                    font-size: 22px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: $white;
                    background-color: $blue-green;
                    box-shadow: 0 5px 15px rgba(39, 39, 39, 0.2);

                    &:focus,
                    &:hover {
                        transform: scale(1.01);
                        background-color: #5AA8A0;
                    }

                    &:active {
                        transform: scale(1);
                    }
                }
            }
        }

        section.section3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            //align-items: center;
            width: 85%;
            margin: 60px auto;

            div.testimonials {
                margin: 15px 30px;

                p {
                    margin: 30px 0;
                    padding: 0;
                    font-family: $font;
                    font-size: 28px;
                    font-weight: 500;
                }

                div.customers {
                    display: flex;
                    flex-direction: row;

                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                    }

                    div.customer-names {
                        display: flex;
                        flex-direction: column;

                        p {
                            margin: 3px 25px;
                            padding: 0;
                            font-family: $font;
                            font-weight: 500;

                            &:first-child {
                                margin-top: 13px;
                                color: $salmon;
                                font-size: 18px;
                            }

                            &:nth-child(2) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        section.section4 {
            position: relative;
            height: 550px;
            justify-content: center;
            margin-bottom: 90px;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                margin-top: 40px;
            }

            h1 {
                text-align: center;
                font-family: $font;
                font-size: 60px;
                font-weight: 900;
                color: white;
                margin-top: 150px;
                line-height: 0;
                text-shadow: 0 5px 15px rgba(39, 39, 39, 0.4);
            }
        }

        footer {
            color: $black;
        }
    }
}
