// main: ../main.scss
// File: _order.scss
// styles.
/* STYLES GO HERE */
/* Mobile first styles go here */
html {
    background-color: $form-white;
}
/* ---------------------------------------- */
// REMOVE INPUT TYPE=NUMBER ARROWS/SPINNERS
/* Chrome, Safari, Edge, Opera */
input,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* ---------------------------------------- */
main.order {
    strong {
        color: $black;
        font-weight: 700;
    }

    form {
        div.title {
            width: 80%;
            margin: 40px auto;
            padding-bottom: 0;
            border-bottom: 1px solid rgba(39, 39, 39, 0.16);

            h3 {
                margin: 0;
                padding: 0;
                font-size: 28px;
                font-weight: 500;
            }

            p {
                width: 100%;
                margin: 10px 0 25px;
                padding: 0;
                font-size: 20px;
                font-weight: 300;
            }
        }

        section {
            width: 80%;
            margin: 40px auto 0;
            padding-bottom: 100px;
            border-bottom: 1px solid rgba(39, 39, 39, 0.16);

            div.row1 {
                h3 {
                    margin: 20px 0 10px;
                    padding: 0;
                    font-size: 24px;
                    font-weight: 500;
                }

                p {
                    width: 100%;
                    margin: 10px 0 25px;
                    padding: 0;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 27px;
                }
            }

            &.section1 {
                div.column-left {
                    h3 {
                        margin: 20px 0 10px;
                        padding: 0;
                        font-size: 24px;
                        font-weight: 500;
                    }

                    p {
                        width: 100%;
                        margin: 10px 0 25px;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 27px;
                    }
                }

                div.order-info {
                    margin: 20px auto;

                    label {
                        width: 100%;
                        margin: 10px 0;
                        font-size: 20px;
                        font-weight: 500;
                    }

                    input {
                        box-sizing: border-box;
                        margin: 0 0 30px;
                        padding: 10px;
                        border: 2px solid rgba(39, 39, 39, 0.6);
                        border-radius: 12px;

                        &:hover {
                            border-color: rgba(39, 39, 39, 0.7);
                            box-shadow: 0 0 4px rgba(39, 39, 39, 0.2);
                        }

                        &:focus {
                            outline: none;
                            border-color: $blue-green;
                            box-shadow: 0 0 4px rgba(39, 39, 39, 0.3);
                        }
                    }

                    .radio-buttons {
                        label {
                            display: inline-block;
                            margin: 10px 0;
                            padding: 15px 25px;
                            background-color: $white;
                            border: 2px solid rgba(39, 39, 39, 0.6);
                            border-radius: 12px;

                            h4 {
                                margin: 0;
                                padding: 5px 0;
                                font-size: 20px;
                                font-weight: 500;
                            }

                            p {
                                margin: 0;
                                padding: 0;
                                font-size: 14px;
                                font-weight: 300;
                                color: rgba(39, 39, 39, 0.6);

                                &:nth-child(3) {
                                    margin-top: 30px;
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: $black;
                                }
                            }
                        }

                        input[type="radio"] {
                            &:checked + label {
                                background-color: rgba(89, 185, 158, 0.10);
                                border: 3px solid $form-green;
                            }

                            &:focus + label {}
                        }
                    }

                    select {
                        display: block;
                        box-sizing: border-box;
                        margin: 10px 0;
                        padding: 10px;
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 500;
                        color: $black;
                        background-color: $white;
                        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FF7969%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
                        background-repeat: no-repeat;
                        background-position: right 15px top 50%;
                        background-size: 12px auto;
                        border: 2px solid rgba(39, 39, 39, 0.6);
                        border-radius: 12px;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;

                        &:hover {
                            border-color: rgba(39, 39, 39, 0.7);
                            box-shadow: 0 0 4px rgba(39, 39, 39, 0.2);
                        }

                        &:focus {
                            outline: none;
                            border-color: $blue-green;
                            box-shadow: 0 0 4px rgba(39, 39, 39, 0.3);
                        }

                        option {
                            float: right;
                        }
                    }
                }
            }

            &.section2 {
                div.fresh-product {
                    display: grid;
                    width: 100%;
                    grid-template-rows: repeat(9, auto);
                    grid-template-columns: 1.25fr 1fr 0.75fr;
                    gap: 10px 0;
                    margin: 0;
                    padding: 0;
                    justify-content: space-between;
                    background-color: $white;
                    border-radius: 12px;
                    box-shadow: 0 5px 15px rgba(39, 39, 39, 0.16);

                    p {
                        input {
                            box-sizing: border-box;
                            width: 90px;
                            height: 32px;
                            margin: 0;
                            padding: 0 5px;
                            text-align: right;
                            background-color: $white;
                            border: none;
                            border-bottom: 2px solid rgba(39, 39, 39, 1.0);
                            border-radius: 0;

                            &:focus {
                                outline: none;
                                border-color: $blue-green;
                                box-shadow: 0 4px 4px -4px rgba(39, 39, 39, 0.6);
                            }
                        }
                    }

                    .item {
                        display: inline-grid;
                        box-sizing: border-box;
                        font-size: 16px;
                        font-weight: 400;
                        margin: 0;
                        padding: 15px 0;
                        //border: 1px solid black;
                    }

                    .head {
                        color: grey;
                        font-size: 14px;
                        align-self: end;
                        padding-top: 30px;
                        padding-bottom: 10px;
                    }

                    .col1 {
                        text-align: left;
                        padding-left: 20px;
                    }

                    .col2 {
                        display: none;
                        text-align: center;
                        color: grey;
                    }

                    .col3 {
                        display: none;
                        text-align: right;
                    }

                    .col4 {
                        text-align: right;
                        justify-content: flex-end;
                    }

                    .col5 {
                        text-align: right;
                        padding-left: 25px;
                        padding-right: 20px;
                    }

                    .footer {
                        background-color: $brighter-salmon;
                        color: $white;
                        font-weight: 600;
                        padding-top: 17px;
                        padding-bottom: 17px;
                    }

                    .bottom-left {
                        border-radius: 0 0 0 12px;
                    }

                    .bottom-right {
                        border-radius: 0 0 12px 0;
                    }
                }
            }

            &.section3 {
                div.frozen-product {
                    display: grid;
                    width: 100%;
                    grid-template-rows: repeat(8, auto);
                    grid-template-columns: 1.25fr 1fr 0.75fr;
                    gap: 10px 0;
                    margin: 0;
                    padding: 0;
                    justify-content: space-between;
                    background-color: $white;
                    border-radius: 12px;
                    box-shadow: 0 5px 15px rgba(39, 39, 39, 0.16);

                    .item {
                        display: inline-grid;
                        box-sizing: border-box;
                        font-size: 16px;
                        font-weight: 400;
                        margin: 0;
                        padding: 15px 0;
                        //border: 1px solid black;
                    }

                    .head {
                        color: grey;
                        font-size: 14px;
                        align-self: end;
                        padding-top: 30px;
                        padding-bottom: 10px;
                    }

                    .col1 {
                        text-align: left;
                        padding-left: 20px;
                    }

                    .col2 {
                        display: none;
                        text-align: center;
                        color: grey;
                    }

                    .col3 {
                        display: none;
                        text-align: right;
                    }

                    .col4 {
                        text-align: right;
                    }

                    .col5 {
                        text-align: right;
                        padding-left: 25px;
                        padding-right: 20px;
                    }

                    .footer {
                        background-color: $brighter-salmon;
                        color: $white;
                        font-weight: 600;
                        padding-top: 17px;
                        padding-bottom: 17px;
                    }

                    .bottom-left {
                        border-radius: 0 0 0 12px;
                    }

                    .bottom-right {
                        border-radius: 0 0 12px 0;
                    }
                }
            }

            &.section4 {
                margin: 40px auto 0;
                padding-bottom: 30px;
                border: 0;

                div.order-overview {
                    display: grid;
                    width: 100%;
                    grid-template-rows: repeat(4, auto);
                    grid-template-columns: 1.25fr auto;
                    gap: 10px 0;
                    margin: 0;
                    padding: 0;
                    justify-content: space-between;
                    background-color: $white;
                    border-radius: 12px;
                    box-shadow: 0 5px 15px rgba(39, 39, 39, 0.16);

                    .item {
                        display: inline-grid;
                        box-sizing: border-box;
                        font-size: 16px;
                        font-weight: 400;
                        margin: 0;
                        padding: 15px 0;
                        //border: 1px solid black;
                    }

                    .head {
                        padding-top: 30px;
                    }

                    .col1 {
                        text-align: left;
                        padding-left: 20px;
                    }

                    .col2 {
                        text-align: right;
                        padding-left: 25px;
                        padding-right: 20px;
                    }

                    .footer {
                        background-color: $brighter-salmon;
                        color: $white;
                        font-weight: 600;
                        padding-top: 17px;
                        padding-bottom: 17px;
                    }

                    .bottom-left {
                        border-radius: 0 0 0 12px;
                    }

                    .bottom-right {
                        border-radius: 0 0 12px 0;
                    }
                }

                div.row3 {
                    width: 100%;

                    li {
                        //width: 80%;
                        margin: 50px auto;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }

                    button {
                        width: 100%;
                        margin: 30px auto;
                        padding: 15px 25px;
                        align-items: center;
                        border: none;
                        border-radius: 12px;
                        cursor: pointer;
                        text-align: center;
                        font-family: $font;
                        font-size: 20px;
                        font-weight: 600;
                        background-color: $brighter-salmon;
                        color: $white;
                        box-shadow: 0 1px 3px rgba(39, 39, 39, 0.2);
                        justify-content: center;
                        align-items: center;

                        &:focus,
                        &:hover {
                            transform: scale(1.01);
                        }

                        &:active {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 700px) {
    /* Bigger mobile styles go here */
    main.order {
        form {
            section {
                &.section2 {
                    div.fresh-product {
                        grid-template-columns: 1.25fr 1fr 1fr 0.75fr;
                        .col3 {
                            display: inline-block;
                        }
                    }

                    div.frozen-product {
                        grid-template-columns: 1.25fr 1fr 1fr 0.75fr;
                        .col3 {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $breakpoint) {
    /* Desktop styles go here */
}
