// main: ../main.scss
// File: _order.scss
// styles.
/* STYLES GO HERE */
/* Mobile first styles go here */
html {
    background-color: $form-white;
}
main.order {


    section.section1 {

    }

    section.section2 {
        width: 80%;
        margin: 40px auto 0 auto;
        padding-bottom: 100px;
        border-bottom: 1px solid rgba(39, 39, 39, 0.16);

        div.row1 {
            h3 {
                margin: 20px 0 10px 0;
                padding: 0;
                font-size: 24px;
                font-weight: 500;
            }

            p {
                //width: 60%;
                margin: 10px 0 25px 0;
                padding: 0;
                font-size: 18px;
                font-weight: 300;
            }
        }

        div.fresh-product {
            display: grid;
            width: 100%;
            grid-template-rows: repeat(9, 65px);
            grid-template-columns: 1.25fr 1fr 0.75fr;
            gap: 0 0;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            background-color: $white;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(39, 39, 39, 0.16);

            .item {
                display: inline-grid;
                box-sizing: border-box;
                font-size: 16px;
                font-weight: 400;
                margin: 0;
                padding: 20px 0 20px 0;
                //border: 1px solid black;

            }
            .head {
                color: grey;
                font-size: 14px;
                align-self: end;
                padding-top: 20px;
                padding-bottom: 10px;
            }

            .col1 {
                text-align: left;
                padding-left: 20px;
            }
            .col2 {
                display: none;
                text-align: center;
                color: grey;
            }
            .col3 {
                display: none;
                text-align: right;
            }
            .col4 {
                text-align: right;
            }
            .col5 {
                text-align: right;
                padding-left: 25px;
                padding-right: 20px;
            }

            .footer {
                background-color: $brighter-salmon;
                color: $white;
                font-weight: 600;
                padding-bottom: 20px;
            }

            .bottom-left {
                border-radius: 0 0 0 12px;
            }

            .bottom-right {
                border-radius: 0 0 12px 0;
            }
        }
    }

    section.section3 {
        width: 80%;
        margin: 40px auto 0 auto;
        padding-bottom: 100px;
        border-bottom: 1px solid rgba(39, 39, 39, 0.16);

        div.row1 {
            h3 {
                margin: 20px 0 10px 0;
                padding: 0;
                font-size: 24px;
                font-weight: 500;
            }

            p {
                //width: 60%;
                margin: 10px 0 25px 0;
                padding: 0;
                font-size: 18px;
                font-weight: 300;
            }
        }

        div.frozen-product {
            display: grid;
            width: 100%;
            grid-template-rows: repeat(8, 65px);
            grid-template-columns: 1.25fr 1fr 0.75fr;
            gap: 0 0;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            background-color: $white;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(39, 39, 39, 0.16);

            .item {
                display: inline-grid;
                box-sizing: border-box;
                font-size: 16px;
                font-weight: 400;
                margin: 0;
                padding: 20px 0 20px 0;
                //border: 1px solid black;

            }
            .head {
                color: grey;
                font-size: 14px;
                align-self: end;
                padding-top: 20px;
                padding-bottom: 10px;
            }

            .col1 {
                text-align: left;
                padding-left: 20px;
            }
            .col2 {
                display: none;
                text-align: center;
                color: grey;
            }
            .col3 {
                display: none;
                text-align: right;
            }
            .col4 {
                text-align: right;
            }
            .col5 {
                text-align: right;
                padding-left: 25px;
                padding-right: 20px;
            }

            .footer {
                background-color: $brighter-salmon;
                color: $white;
                font-weight: 600;
                padding-bottom: 20px;
            }

            .bottom-left {
                border-radius: 0 0 0 12px;
            }

            .bottom-right {
                border-radius: 0 0 12px 0;
            }
        }
    }

    section.section4 {
        width: 80%;
        margin: 40px auto 0 auto;
        padding-bottom: 100px;
        border-bottom: 1px solid rgba(39, 39, 39, 0.16);

        div.row1 {
            h3 {
                margin: 20px 0 10px 0;
                padding: 0;
                font-size: 24px;
                font-weight: 500;
            }

            p {
                //width: 60%;
                margin: 10px 0 25px 0;
                padding: 0;
                font-size: 18px;
                font-weight: 300;
            }
        }
        div.order-overview {
            display: grid;
            width: 100%;
            grid-template-rows: repeat(4, 65px);
            grid-template-columns: 1.25fr auto;
            gap: 0 0;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            background-color: $white;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(39, 39, 39, 0.16);

            .item {
                display: inline-grid;
                box-sizing: border-box;
                font-size: 16px;
                font-weight: 400;
                margin: 0;
                padding: 15px 0 15px 0;
                //border: 1px solid black;

            }
            .head {
                padding-top: 20px;
            }

            .col1 {
                text-align: left;
                padding-left: 20px;
            }

            .col2 {
                text-align: right;
                padding-left: 25px;
                padding-right: 20px;
            }

            .footer {
                background-color: $brighter-salmon;
                color: $white;
                font-weight: 600;
                padding-bottom: 20px;
            }

            .bottom-left {
                border-radius: 0 0 0 12px;
            }

            .bottom-right {
                border-radius: 0 0 12px 0;
            }
        }
    }
}
@media screen and (min-width: 400px) {
    /* Bigger mobile styles go here */
}

@media screen and (min-width: $breakpoint) {
    /* Desktop styles go here */
}
